@import 'normalize.css';

:root {
    --font-family: 'ProximaNova', sans-serif;
    --height-header: 64px;
    --white: #fff;
    --primary: #fe2c55;
    --color-header: #515154;
    --space-black: #4c4b49;
    --silver: #e3e5e3;
    --gold: #fcebd3;
    --deep-purple: #61586b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
    background-color: #f5f5f7;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

p {
    margin: 10px 0;
    text-align: justify;
}

a,
button {
    user-select: none !important;
}
//Font

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}
