.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inner {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assential {
    width: 100%;
    display: flex;
}
